.swiper-button-next,
.swiper-button-prev {
    color: white;
    fill: white;
    stroke: white;
    background-color: #ff5252;
    border-radius: .5rem;    
    
}

.swiper-pagination-bullet {
    background: #bbb;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #ff5252;
}
.swiper-button-next svg,.swiper-button-prev svg{
    height: 1rem;
}