@import "tailwindcss";


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  position: relative;
}

.container {
  width: 90%;
  margin: auto;
}

.link {
  position: relative;
  display: inline-block;
  color: #374151;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #ff5252;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.link:hover {
  color: #ff5252;
}

.link:hover::after {
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #ff5252;
  border-radius: 10px;
}

* {
  scrollbar-width: thin; 
  scrollbar-color: #ff5252 transparent;
}

.grid-cont{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 16px;
}

/* Add this to your global CSS or Tailwind custom layer */
.thumbnail-swiper .swiper-button-prev,
.thumbnail-swiper .swiper-button-next {
  color: #ff5252 !important;
  transition: 0.3s ease;
}

.thumbnail-swiper .swiper-button-prev:hover,
.thumbnail-swiper .swiper-button-next:hover {
  color: #ff7b7b !important;
}
