@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  position: relative;
}

.container {
  width: 90%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
  transition: all 0.3s ease;
}